title: "Paper Demo"
url: "https://HyeonjinCha.github.io"
baseurl: ""
theme: null
markdown: kramdown
kramdown:
  input: GFM
plugins:
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-paginate
  - jekyll-gist
